<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INFORMATION</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/viewMore3.css" />
</head>
<body>
<!-- IMAGE + TEXT - SECTION -->
<!-- <section class="sec3">
  <div class="a2">
    <div>
      <img src="IMAGES/dummy2.jpeg" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis dolorem
      a nostrum velit praesentium neque quae, maiores labore doloremque.
      Earum ipsa deleniti sint amet temporibus mollitia sapiente porro
      aliquid molestias nulla cum id, adipisci, officia dolore maiores
      deserunt quis inventore doloribus eaque voluptates, cumque ipsum alias
      asperiores provident. Consequuntur deserunt quis nisi impedit id
      dolores ipsam dicta accusamus est, aliquam molestiae non ipsum
      accusantium quasi temporibus facilis magni tempore beatae minus? Ea
      quisquam cum doloribus consequuntur aliquam, dolor, fugiat sequi,
      harum ab in excepturi labore officiis omnis quasi facilis dolores.
    </p>
  </div>
</section> -->
<!-- TEXT SECTION -->
<section class="about m">
    <h1 class="head">Overview</h1>
    <div class="text1">
        <p>
            Gesture based keyboard and mouse is a Python scripted program that will identify gestures and allow the user to control mouse pointer and keyboard functions using hand gestures.
        </p>
        <p>
            This project was created using OpenCV, MediaPipe, mouse, keyboard and wx libraries. We use color recognition and segmentation techniques to draw shapes on the whiteboard. We have used MediaPipeHands to identify the various pre - defined hand gestures that will be used to control the mouse pointer and use few keyboard commands.
        </p>
        <p>
            OpenCV (Open Source Computer Vision Library) is an open source computer vision and machine learning software library. OpenCV was built to provide a common infrastructure for computer vision applications and to accelerate the use of machine perception in the commercial products. Being a BSD-licensed product, OpenCV makes it easy for businesses to utilize and modify the code.
        </p>
        <p>
            MediaPipeHands is a fidelity hand and finger tracking solution. Using Machine Learning (ML) to derive 21 3D landmarks of the hand from a single image. MediaPipe Hands uses an ML pipeline consisting of multiple models that work together. A palm detection model that works across images and returns an oriented hand bounding box. A landmark model of the hand that works in the cropped image area defined by the palm detector and returns the key points of a high fidelity 3D hand.
        </p>
        <p>
            wxPython’s Project Phoenix is the improved next-generation wxPython. This new implementation is focused on improving speed, maintainability and extensibility. It wraps the wxWidgets C++ toolkit and provides access to the user interface portions of the wxWidgets API, enabling Python applications to have a native GUI on Windows, Macs or Unix systems.
        </p>
        <p>
            Keyboard library is used to take full control of your keyboard for hooking global events, registering hotkeys, simulating key presses and much more.
        </p>
        <p>
            Mouse library is used to get full control of your mouse. Hook global events, register hotkeys, simulate mouse movement and clicks, and much more.
        <p>
    </div>
</section>

<section class="nobg">
    <h2 class="head">Project Prerequisites</h2>
    <div class="text1">
        <p class="steps">1. Python - 3.8.8</p>
        <p class="steps">2. OpenCV - 4.4</p>
        <p class="steps">3. Numpy - 1.20.1</p>
        <p class="steps">4. MediaPipe - 0.8.8.1</p>
        <p class="steps">5. Time - 1.0.0</p>
        <p class="steps">6. Mouse - 0.7.1</p>
        <p class="steps">7. Keyboard - 0.13.5</p>
        <p class="steps">8. wxPython - 4.1.1</p>
        <p class="steps">9. HandTrackingModule (provided with the main code)</p>
    </div>
</section>

<section class="about">
    <h2 class="head">
        Steps to execute gesture controlled keyboard and mouse
    </h2>
    <div class="text1">
        <p class="steps">&rarr; Import necessary packages</p>
        <p class="steps">&rarr; Read frames from a webcam</p>
        <p class="steps">&rarr; Keep both the HandTrackingModule and main in the same directory</p>
        <p class="steps">&rarr; Show your hand in the webcam</p>
        <p class="steps">&rarr; Once the hand is detected use gestures to control system</p>
        <p class="steps">&rarr; Press ‘q’ to quit the program</p>
    </div>
</section>

<!-- 3 CARDS SECTION -->
<section class="CARDS">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="IMAGES/g1scrollUp.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Scrolling UP</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="IMAGES/g2scrollDown.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Scrolling Down</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="IMAGES/g3backspace.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Backspace Button </h5>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 3 CARDS SECTION -->
<section class="CARDS">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="IMAGES/g4enter.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center">Enter Button</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="IMAGES/g5escape.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center">Escape Button </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="IMAGES/g6mouse.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center">Mouse Pointer </h5>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="about">
    <h2 class="head">
        References
    </h2>
    <div class="text1">
        <p class="steps">&rarr;<a href="https://opencv.org/" target="_blank"> OpenCV: Home</a></p>
        <p class="steps">&rarr;<a href="https://google.github.io/mediapipe/solutions/hands.html" target="_blank"> Hands - mediapipe</a></p>
        <p class="steps">&rarr;<a href="https://pypi.org/project/wxPython/" target="_blank"> wxPython · PyPI</a></p>
        <p class="steps">&rarr;<a href="https://pypi.org/project/time/" target="_blank"> time · PyPI</a></p>
        <p class="steps">&rarr;<a href="https://pypi.org/project/keyboard/" target="_blank"> keyboard · PyPI</a></p>
        <p class="steps">&rarr;<a href="https://pypi.org/project/mouse/" target="_blank"> mouse · PyPI</a></p>
    </div>
</section>





<!--<section class="nobbg">-->
<!--    <h4 class="head">Here we use a blue colored object to simulate a whiteboard pencil</h4>-->
<!--    <div class="ssimg">-->
<!--        <img src="IMAGES/ss1.jpg" alt="" />-->
<!--    </div>-->
<!--</section>-->
<!--<section class="about">-->
<!--    <h4 class="head">Using the clear option in the left corner</h4>-->
<!--    <div class="ssimg">-->
<!--        <img src="IMAGES/ss2.jpg" alt="" />-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; &#45;&#45;&#45;&#45;IMAGE + TEXT &#45;&#45; SECTION&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--<div class="HH">-->
<!--    <p class="hh">GESTURE 1</p>-->
<!--</div>-->
<!--<section class="sec3">-->
<!--    <div class="a2">-->
<!--        <div>-->
<!--            <img src="IMAGES/gesture1.jpg" alt="" />-->
<!--        </div>-->
<!--        <p>Changing colour to Blue</p>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; &#45;&#45;&#45;&#45;TEXT + IMAGE &#45;&#45; SECTION&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--<section class="about">-->
<!--    <div class="HH">-->
<!--        <p class="hh">GESTURE 2</p>-->
<!--    </div>-->
<!--    <section class="sec3">-->
<!--        <div class="a1">-->
<!--            <p>Changing colour to Green</p>-->

<!--            <div>-->
<!--                <img src="IMAGES/gesture2.jpg" alt="" />-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</section>-->

<!--&lt;!&ndash; &#45;&#45;&#45;&#45;IMAGE + TEXT &#45;&#45; SECTION&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--<div class="HH">-->
<!--    <p class="hh">GESTURE 3</p>-->
<!--</div>-->
<!--<section class="sec3">-->
<!--    <div class="a2">-->
<!--        <div>-->
<!--            <img src="IMAGES/gesture3.jpg" alt="" />-->
<!--        </div>-->
<!--        <p>Changing colour to Red</p>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; &#45;&#45;&#45;&#45;TEXT + IMAGE &#45;&#45; SECTION&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--<section class="about">-->
<!--    <div class="HH">-->
<!--        <p class="hh">GESTURE 4</p>-->
<!--    </div>-->
<!--    <section class="sec3">-->
<!--        <div class="a1">-->
<!--            <p>Changing colour to Yellow</p>-->

<!--            <div>-->
<!--                <img src="IMAGES/gesture4.jpg" alt="" />-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</section>-->


<!-- ---- HOME BUTTON ---- -->
<div class="container">
    <a href="/">
        <button type="button" class="btn btn-primary">HOME</button>
    </a>
</div>
<!-- ------------------------------------------- -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"
></script>
</body>
</html>
