<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMATION</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/viewMore2.css">
</head>
<body>
    <!-- TEXT SECTION -->
    <section class="about">
        <div class="text1">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos rerum,
            itaque dicta doloribus, vitae porro voluptatibus ipsam quia
            consequuntur iusto dolores explicabo error sint sit culpa est laborum.
            Earum natus provident inventore ipsam velit placeat iure voluptas
            totam, quidem odit iusto unde incidunt nam cumque consequuntur impedit
            veniam libero officiis voluptatem repellat laborum illum! Voluptatem
            ratione accusamus eum voluptates voluptas, dolorem deleniti placeat!
            Aliquam, ipsa rem! Similique, quod impedit repudiandae, blanditiis
            cumque aliquid officia repellat itaque, quam laborum dicta vero
            laudantium assumenda harum dolores non veritatis in nihil sunt
            necessitatibus! Quos modi ad perferendis eos. Sit possimus, aliquid
            reprehenderit, amet suscipit at commodi ex quisquam, adipisci
            recusandae neque eaque. Commodi et cumque esse provident aliquam
            repellat repellendus rem atque ad assumenda unde porro sit beatae
            inventore hic delectus nobis culpa consectetur consequuntur quis eos,
            doloribus facere illum totam? Et repudiandae debitis adipisci
            laboriosam amet! Commodi vel eum sequi, quos illo, earum placeat
            consectetur dolores alias totam veniam velit nesciunt cupiditate
            ratione culpa dolor officia at doloremque dicta. Quisquam, modi
            consequatur? Magnam explicabo ducimus ipsa saepe repudiandae aliquid
            exercitationem amet iste quidem qui, excepturi veniam ab voluptatem
            ratione. Cumque culpa exercitationem, quam illum provident aliquam
            eaque facilis, veritatis inventore cum dignissimos?
          </p>
        </div>
      </section> 
      <!-- 3 CARDS SECTION -->
      <section class="CARDS">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="IMAGES/copyContent.jpg" class="card-img-top picSize" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="IMAGES/scrollDown.jpg" class="card-img-top picSize" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Card title</h5>
                </div>
                
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="IMAGES/scrollUp.jpg" class="card-img-top  picSize" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
          </div>
      </section>
    <!-- 3 CARDS SECTION -->
    <section class="CARDS">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="IMAGES/zoomIn.jpg" class="card-img-top picSize" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="IMAGES/zoomOut.jpg" class="card-img-top picSize" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="IMAGES/cut.jpg" class="card-img-top picSize" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3 CARDS SECTION -->
    <section class="CARDS">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="IMAGES/leftClicked.jpg" class="card-img-top picSize" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="IMAGES/pasting.jpg" class="card-img-top picSize" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="IMAGES/RightClick.jpg" class="card-img-top picSize" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ----TEXT + IMAGE -- SECTION---- -->
  <section class="sec3">
    <div class="a1">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis dolorem
        a nostrum velit praesentium neque quae, maiores labore doloremque.
        Earum ipsa deleniti sint amet temporibus mollitia sapiente porro
        aliquid molestias nulla cum id, adipisci, officia dolore maiores
        deserunt quis inventore doloribus eaque voluptates, cumque ipsum alias
        asperiores provident. Consequuntur deserunt quis nisi impedit id
        dolores ipsam dicta accusamus est, aliquam molestiae non ipsum
        accusantium quasi temporibus facilis magni tempore beatae minus? Ea
        quisquam cum doloribus consequuntur aliquam, dolor, fugiat sequi,
        harum ab in excepturi labore officiis omnis quasi facilis dolores.
      </p>

      <div>
        <img src="IMAGES/dummy2.jpeg" alt="" />
      </div>
    </div>
  </section>
   <!-- ---- HOME BUTTON ---- -->
   <div class="container">
    <a href="/">
      <button type="button" class="btn btn-primary">HOME</button>
    </a>
  </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
</body>
</html>