<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INFORMATION</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/viewMore1.css" />
  </head>
  <body>
    <!-- IMAGE + TEXT - SECTION -->
    <!-- <section class="sec3">
      <div class="a2">
        <div>
          <img src="IMAGES/dummy2.jpeg" alt="" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis dolorem
          a nostrum velit praesentium neque quae, maiores labore doloremque.
          Earum ipsa deleniti sint amet temporibus mollitia sapiente porro
          aliquid molestias nulla cum id, adipisci, officia dolore maiores
          deserunt quis inventore doloribus eaque voluptates, cumque ipsum alias
          asperiores provident. Consequuntur deserunt quis nisi impedit id
          dolores ipsam dicta accusamus est, aliquam molestiae non ipsum
          accusantium quasi temporibus facilis magni tempore beatae minus? Ea
          quisquam cum doloribus consequuntur aliquam, dolor, fugiat sequi,
          harum ab in excepturi labore officiis omnis quasi facilis dolores.
        </p>
      </div>
    </section> -->
    <!-- TEXT SECTION -->
    <section class="about">
      <h1 class="head">Overview</h1>
      <div class="text1">
        <p>
          Gesture based White Board is a Python scripted program that allows the
          user to draw on a Whiteboard using 4 available colors - Red , Green,
          Blue and Yellow, which can be interchangeably used by different hand
          gestures.
        </p>
        <p>
          Here, color recognition and tracking is used to reach the goal. The
          color markings are recognized and the mask is created. This includes
          further steps in morphological manipulation of the generated mask.
          This is erosion and dilation. Erosion reduces the impurities present
          in the mask, and dilation further restores the eroded main mask.
        </p>
        <p>
          In this project, we created a whiteboard using OpenCV and Python. We
          use color recognition and segmentation techniques to draw shapes on
          the whiteboard. We have used MediaPipeHands to identify the various
          pre - defined hand gestures that will be used to change the color of
          the pointer or the brush of the whiteboard.
        </p>
        <p>
          OpenCV (Open Source Computer Vision Library) is an open source
          computer vision and machine learning software library. OpenCV was
          built to provide a common infrastructure for computer vision
          applications and to accelerate the use of machine perception in the
          commercial products. Being a BSD-licensed product, OpenCV makes it
          easy for businesses to utilize and modify the code.
        </p>
        <p>
          MediaPipeHands is a fidelity hand and finger tracking solution. Using
          Machine Learning (ML) to derive 21 3D landmarks of the hand from a
          single image. MediaPipe Hands uses an ML pipeline consisting of
          multiple models that work together. A palm detection model that works
          across images and returns a oriented hand bounding box. A landmark
          model of the hand that works in the cropped image area defined by the
          palm detector and returns the key points of a high fidelity 3D hand.
        </p>
      </div>
    </section>

    <section class="nobg">
      <h2 class="head">Project Prerequisites</h2>
      <div class="text1">
        <p class="steps">1. Python - 3.8.8</p>
        <p class="steps">2. OpenCV - 4.4</p>
        <p class="steps">3. Numpy - 1.20.1</p>
        <p class="steps">4. MediaPipe - 0.8.8.1</p>
      </div>
    </section>

    <section class="about">
      <h2 class="head">
        Steps to develop white board using OpenCV and MediaPipe
      </h2>
      <div class="text1">
        <p class="steps">&rarr; Import necessary packages</p>
        <p class="steps">&rarr; Read frames from a webcam</p>
        <p class="steps">&rarr; Create the white board window</p>
        <p class="steps">&rarr; Detect the blue color</p>
        <p class="steps">&rarr; Draw on the white board</p>
        <p class="steps">&rarr; Change colors using hand gestures</p>
        <p class="steps">&rarr; Clear the white board using virtual clear button</p>
        <p class="steps">&rarr; Press ‘x’ to quit the program</p>
      </div>
    </section>

    <!-- 3 CARDS SECTION -->
    <!-- <section class="CARDS">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="IMAGES/dummy2.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                libero, at odio alias suscipit rerum hic reiciendis totam, sit
                voluptates veniam, deleniti fugiat adipisci perspiciatis.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="IMAGES/dummy2.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus, ipsam ad, non ratione sit quasi, odit facilis error
                maxime nulla ea. Quod vitae voluptas molestias!
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="IMAGES/dummy2.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus repellendus quae, dolores suscipit alias quasi
                dolor eligendi ratione atque quam fugiat corrupti reprehenderit
                magnam temporibus?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> -->
<section class="nobbg">
  <h4 class="head">Here we use a blue colored object to simulate a whiteboard pencil</h4>  
  <div class="ssimg">
    <img src="IMAGES/ss1.jpg" alt="" />
  </div>
</section>
<section class="about">
  <h4 class="head">Using the clear option in the left corner</h4>  
  <div class="ssimg">
    <img src="IMAGES/ss2.jpg" alt="" />
  </div>
</section>

    <!-- ----IMAGE + TEXT -- SECTION---- -->
    <div class="HH">
      <p class="hh">GESTURE 1</p>
    </div>
    <section class="sec3">
      <div class="a2">
        <div>
          <img src="IMAGES/gesture1.jpg" alt="" />
        </div>
        <p>Changing colour to Blue</p>
      </div>
    </section>

    <!-- ----TEXT + IMAGE -- SECTION---- -->
    <section class="about">
    <div class="HH">
      <p class="hh">GESTURE 2</p>
    </div>
    <section class="sec3">
      <div class="a1">
        <p>Changing colour to Green</p>

        <div>
          <img src="IMAGES/gesture2.jpg" alt="" />
        </div>
      </div>
    </section>
  </section>

    <!-- ----IMAGE + TEXT -- SECTION---- -->
    <div class="HH">
      <p class="hh">GESTURE 3</p>
    </div>
    <section class="sec3">
      <div class="a2">
        <div>
          <img src="IMAGES/gesture3.jpg" alt="" />
        </div>
        <p>Changing colour to Red</p>
      </div>
    </section>

    <!-- ----TEXT + IMAGE -- SECTION---- -->
    <section class="about">
    <div class="HH">
      <p class="hh">GESTURE 4</p>
    </div>
    <section class="sec3">
      <div class="a1">
        <p>Changing colour to Yellow</p>

        <div>
          <img src="IMAGES/gesture4.jpg" alt="" />
        </div>
      </div>
    </section>
  </section>
    <!-- ---- HOME BUTTON ---- -->
    <div class="container">
      <a href="/">
        <button type="button" class="btn btn-primary">HOME</button>
      </a>
    </div>
    <!-- ------------------------------------------- -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
