body, *{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(219, 217, 209, 0.808);
}
/* HEADING */
.head{
    text-align: center;
    padding: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
}
/* TEXT SECTION */
.about {
    background-color: rgb(134 130 231 / 42%);
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 1rem;
}
.text1 p {
    padding: 2rem;
}
/* TEXT + IMAGE -- SECTION */
.sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* max-width: 80vw; */
    /* flex-direction: row; */
    margin: 3rem;
    border-radius: 1rem;
}
.a1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.a1 p {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 39vw;
    margin: 2vw;
    min-width: 20px;
    /* padding: 1rem; */
}
.a1 img {
    display: flex;
    width: 40vw;
    border: 2px solid black;
    border-radius: 1rem;
}

@media (max-width: 1129px) { 
    .a1 p {
        /* display: flex; */
        /* padding-top: 1.5rem; */
        min-width: 80vw;
        /* padding: 1rem; */
    }
    .a1 img {
        /* display: flex; */
        width: 70vw;
    }
} 

/* 3 CARDS SECTION */
.CARDS{
    background-color: rgb(134 130 231 / 42%);
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    
}
.row{
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;    
}
@media(max-width:444px){
    .row {
        padding: 1rem 1rem;
    }
    .CARDS{
        background-color: rgb(134 130 231 / 42%);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        
    }
}
/* HOME BUTTON */
.btn-primary {
    color: black;
    background-color: #aca8e9;
    border-color: #000000;
    border-radius: 30px;
    font-size: 1.2em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .btn-primary:hover {
    color: black;
    background-color: #bbb9df;
    border-radius: 30px;
    border: 1.5px solid black;
  }
  @media (min-width: 600px) {
    .btn-primary {
      width: 20vw;
    }
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }